/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;

  position: relative;
} */


.header {
  position: absolute;
  top: 60px;
  left: -527px;
  font-size: 55px;
  font-weight: bold;
}


.tech-list {
  margin-top: -44px;
  text-align: center;
  margin-right: 204px;
}

 h1 {
  font-size: 50px !important;

}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li {
  display: flex;
  margin-bottom: 10px;
}

.tech-list span {
  border-radius: 4px;

  margin-right: 72px;
  font-size: 36px;
  padding-bottom: 5%;
}

.careers {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 69px;
  left: 19px;
}

.mor {
  position: absolute;
  top: 150px;
  left: -527px;
}

.languages{
  position: absolute;
  top: 420px;
  left: -527px;
}










.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

@media (max-width: 1087px) {
  .header {
    left: -443px;
    font-size: 45px;
  }

  .mor {
    top: 150px;
    left: -443px;
  }

  .languages{
    left: -443px;
  }

}


@media (max-width: 950px) {
  .header {
    left: -418px;
    font-size: 47px;
  }

  .mor {
    top: 150px;
    left: -418px;
  }

  .languages{
    left: -418px;
  }

}



@media (max-width: 500px) {
  .header {
    top: 86px;
    left: -164px;
    font-size: 65px;
  }

  .mor {
    top: 575px;
    left: -195px;
  }

  .languages{
    left: -195px;
    top: 850px;
    font-size: 12px;
  }


  .careers {
    top: 208px;
    left: -191px;
  }

}
