.ed-header {
  position: absolute;
  top: 850px;
  left: -700px;
  font-size: 55px;
  font-weight: bold;
}


.tech-list {
  margin-top: -44px;
  text-align: center;
  margin-right: 204px;
}

 h1 {
  font-size: 50px !important;

}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li {
  display: flex;
  margin-bottom: 10px;
}

.tech-list span {
  border-radius: 4px;

  margin-right: 72px;
  font-size: 36px;
  padding-bottom: 5%;
}

.ed-awards {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 200px;
  left: 35px;
}

.ed-bachelors {
  position: absolute;
  /* top: 150px; */
  top: 1068px!important; 
  left: -705px;
}

.languages{
  position: absolute;
  /* top: 420px; */
  top: 960px;
  left: -100px;
}


.theorem-rule{
  position: absolute;
  /* top: 420px; */
  left: 71%;
}




@media (max-width: 391px) {
  .ed-container {
    height: 112vh !important;
  }

  /* .ed-bachelors {
    top: 520px !important;
  } */

  .languages {
    top: 818px !important;
  }
}
@media (max-width: 376px) {
  .ed-container { 
    height: 170vh !important;
  }

  .education-section {
    height: 170vh !important;
  }

}

.ed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

@media (max-width: 1087px) {
  .ed-header {
    left: -443px;
    font-size: 45px;
  }

  .ed-bachelors {
    top: 150px;
    left: -443px;
  }

  .languages{
    left: -443px;
  }

}


@media (max-width: 950px) {
  /* .ed-header {
    left: -418px;
    font-size: 47px;
  } */

  .ed-bachelors {
    top: 560px;
    left: -418px;
  }

  .languages{
    left: -418px;
    top: 818px !important;
  }

}



@media (max-width: 440px) {
  .ed-header {
    /* top: 125px; */
    top: 20px;
    left: -196px;
    font-size: 55px;}

  .ed-awards {
    /* top: 235px; */
    top: 130px;
    left: -220px;
  }

  .ed-bachelors {
    /* top: 575px !important; */
    top: 1068px!important; 
    left: -705px;
  }

  /* .languages{
    left: -195px;
    top: 780px;
    font-size: 12px;
  } */
    .languages {
      left: -220px;
      /* top: 938px; */
      font-size: 8px;
      border: 1px solid black;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h1 {
      font-size: 45px !important;
    
    }

    .title-usaa {
      font-size: 15px !important ;
    }
  

}

@media (max-width: 401px) {
  /* .ed-header {
    top: 91px;
    left: -110px;
    font-size: 35px;
  } */

  /* .ed-awards {
    top: 190px;
    left: -180px;
  } */

  /* .ed-bachelors {
    left: -180px;
  } */

  /* .languages{
    left: -195px;
    top: 780px;
    font-size: 12px;
  } */
    .languages {
      left: -220px;
      /* top: 938px; */
      /* font-size: 12px; */
      border: 1px solid black;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  

}


.row-number {
  position: absolute;
  top: 1032px;
  left: -435px;
  font-family: monospace;
  font-size: 27px;
}

.column-number {
  position: absolute;
  top: 1097px;
  left: -405px;
  font-family: monospace;
  font-size: 27px;
}


.row-column-position {
  position: absolute;
  top: 1190px;
  left: -340px;
  font-family: monospace;
}

/* 
.typed-cursor {
  color: rgb(37, 37, 37); 
  animation: typedjsBlink 0.7s infinite;
} */

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow:
    0 5px 3px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

