html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #d9dfe3;
}



.navbar {
    background-color: #dbe0e3 /*#cee0ec*/ /*#88c3eb*/ /*#d9dfe3*/;
    padding: 16px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item a {
    margin-right: 28px;
  }
  
  .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 26px;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
  }
  
  /* .nav-link:hover {
    color: rgb(168, 178, 209);
    ;
  } */
  .nav-link:hover {
    color: black;
    text-shadow: 0 0 10px black;
    transition: text-shadow 0.8s ease-in-out;
  }
  

  .nav-name {
    font-weight: 600;
  }

  

  .logo {
    position:fixed; 
    top:0; 
    left:0; 
  }



  @media (max-width: 768px) {
    .nav-link {
      font-size: 20px;
      padding-right: 5%;
    }
  
    .nav-item a {
      margin-right: 20px;
    }
  
    .logo img {
      max-width: 60%;
      padding-top: 2%;
      padding-left: 3%;
    }

    .dis {
      display: none;
    }

    .navbar {
      padding: 33px 20px;
    }
  }
  
  @media (max-width: 480px) {
    .nav-link {
      font-size: 16px;
      padding-right: 2%;
    }
  
    .navbar {
      padding: 33px 6px;
      
    }

    .nav-item a {
      margin-right: 12px;
    }
  
    .logo img {
        max-width: 75% !important;
        padding-top: 3% !important;
        padding-left: 22% !important;
    }
  }
  


  @media (min-width: 480px) {
    .mobile {
      display: none;
    } 
  }