.icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 45px;
  border-radius: 10%;
  transition: background-color 0.3s ease;
}

@media (max-width: 440px) {
  .icon-link {
    margin: 0 -1px !important;

  }

  .black-rectangle{
    width: 30% !important;
    display: none !important;
  }

  .name {
    font-size: 85% !important;
    margin-top: 20px;
  }

  .chair {
    width: 65% !important;
    height: 15% !important;
    margin-top: 10% !important;
    margin-left: 10% !important;
  }
}

.icon-link:hover {
  background-color: #149ddd;
}

.nav-icons{
  display: none !important;
}


