.ed-header {
  position: absolute;
  /* top: 60px; */
  top: 60px;
  left: -527px;
  font-size: 55px;
  font-weight: bold;

  /*Make the blue line under Project experience appear*/
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    background: linear-gradient(to right, #00b4db, #0083b0);
    width: 180px;
    height: 5px;
    border-radius: 1rem;
}

}


.tech-list {
  margin-top: -44px;
  text-align: center;
  margin-right: 204px;
}

 h1 {
  font-size: 50px !important;

}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.row ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.row li {
  display: flex;
  margin-bottom: 10px;
}

.tech-list span {
  border-radius: 4px;

  margin-right: 72px;
  font-size: 36px;
  padding-bottom: 5%;
}


.projects{
  position: absolute;
  /* top: 420px; */
  top: 230px;
  left: -527px;
}







@media (max-width: 391px) {
  .ed-container {
    height: 112vh !important;
  }

  /* .ed-bachelors {
    top: 520px !important;
  } */

  .projects {
    top: 818px !important;
  }
}
@media (max-width: 376px) {
  .ed-container { 
    height: 170vh !important;
  }

  .education-section {
    height: 170vh !important;
  }

}

.ed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

@media (max-width: 1087px) {
  .ed-header {
    left: -443px;
    font-size: 45px;
  }

  .ed-bachelors {
    top: 150px;
    left: -443px;
  }

  .projects{
    left: -443px;
  }

}


@media (max-width: 950px) {
  /* .ed-header {
    left: -418px;
    font-size: 47px;
  } */

  .ed-bachelors {
    top: 560px;
    left: -418px;
  }

  .projects{
    left: -418px;
    top: 818px !important;
  }

}



@media (max-width: 440px) {
  .ed-header {
    /* top: 125px; */
    top: 20px;
    left: -196px;
    font-size: 55px;}

  .ed-awards {
    /* top: 235px; */
    top: 130px;
    left: -220px;
  }

  .ed-bachelors {
    /* top: 575px !important; */
    top: 605px !important;
    left: -220px;
  }

  /* .projects{
    left: -195px;
    top: 780px;
    font-size: 12px;
  } */
    .projects {
      left: -220px;
      /* top: 938px; */
      font-size: 8px;
      border: 1px solid black;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h1 {
      font-size: 45px !important;
    
    }

    .title-usaa {
      font-size: 15px !important ;
    }
  

}

@media (max-width: 401px) {
  /* .ed-header {
    top: 91px;
    left: -110px;
    font-size: 35px;
  } */

  /* .ed-awards {
    top: 190px;
    left: -180px;
  } */

  /* .ed-bachelors {
    left: -180px;
  } */

  /* .projects{
    left: -195px;
    top: 780px;
    font-size: 12px;
  } */
    .projects {
      left: -220px;
      /* top: 938px; */
      /* font-size: 12px; */
      border: 1px solid black;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  

}





.project-overlay {
  position: relative;
  display: flex;
  justify-content: space-between;
}


.project-overlay:hover::after {
  content: 'Hello, this is Keagan\AThis application was built to help others';
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  white-space: pre; 
}

/* .project-overlay:hover::before {
  content: url('./github-mark-white.svg');
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
} */

.project-overlay:hover::before {
  content: 'Description';
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}